<h1 class="navtitulo">
    BUSCA EL TORNEO QUE DESEES
    <img src="../../assets/images/buscar.png" alt="Logo" class="logo">
</h1>

<div class="search-bar">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Busca Torneos">
    <button (click)="onSearchTournaments()">Buscar</button>
</div>

<div class="tournament-list">
    <ul>
        <li *ngFor="let tournament of tournaments">
            <button class="tournament-link" [routerLink]="['/v1/tournaments', tournament.tag]">
                {{ tournament.name }}
            </button>
        </li>
    </ul>
</div>

<p *ngIf="tournaments.length === 0">No tournaments available.</p>