.navtitulo {
    margin-top: 140px;
    text-align: center;
    margin-bottom: 100px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-bar input {
    flex: 1;
    height: 20px;
    width: 800px;
    padding: 5px;
    font-family: fantasy;
}

.search-bar button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    font-family: fantasy;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.tournament-list {
    max-width: 500px;
    margin: 0 auto;
    font-family: fantasy;
}

.tournament-list ul {
    list-style-type: none;
    padding: 0;
}

.tournament-list li {
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tournament-list li a {
    text-decoration: none;
    color: #333;
}

.tournament-list li a:hover {
    color: #000;
}

.tournament-list h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.tournament-list p {
    font-size: 14px;
    margin-bottom: 0;
}

.tournament-list p:last-child {
    margin-top: 5px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-button:hover,
.pagination-button[disabled] {
    background-color: #0056b3;
    cursor: not-allowed;
}

