<div *ngIf="tournament" class="tournament-details">
    <div class="back-container">
        <button class="back" (click)="goBack()">
            <img src="../../assets/images/back.png" alt="Volver" class="back-image">
        </button>
    </div>
    <h2>{{ tournament.name }}</h2>
    <div class="tournament-details-content">
        <p>Description: {{ tournament.description }}</p>
        <p>Estado: {{ tournament.status }}</p>
        <p>Duración: {{ tournament.preparationDuration }}</p>
        <p>Se creo el: {{ tournament.createdTime }}</p>
        <p>Hora de inicio: {{ tournament.startedTime }}</p>
        <p>Hora de finalización: {{ tournament.endedTime }}</p>
        <p>Duración: {{ tournament.duration }}</p>
        <p>Tipo: {{ tournament.type }}</p>
        <p>Tag: {{ tournament.tag }}</p>
        <p>Capacidad: {{ tournament.capacity }}</p>
        <p>Capacidad Maxima: {{ tournament.maxCapacity }}</p>
        <p>Nivel maximo: {{ tournament.levelCap }}</p>


    </div>
</div>